<% layout('layouts/boilerPlate') %>
<%# This EJS file renders the portfolio page, showcasing various projects and providing filtering options. %>
 
<article class="portfolio active" data-page="portfolio">

  <header>
    <h2 class="h2 article-title">Portfolio</h2>
  </header>

  <section class="projects">

    <%# Filter buttons for project categories %>
    <ul class="filter-list">
      <li class="filter-item">
        <button class="active" data-filter-btn>All</button>
      </li>
      <% categories.forEach(function(category) { %>
      <li class="filter-item">
        <button data-filter-btn><%= category %></button>
      </li>
      <% }); %>
    </ul>

    <%# Custom select dropdown for filtering on smaller screens %>
    <div class="filter-select-box">
      <button class="filter-select" data-select>
        <div class="select-value" data-selecct-value>Select category</div>
        <div class="select-icon">
          <ion-icon name="chevron-down"></ion-icon>
        </div>
      </button>
      <ul class="select-list">
        <li class="select-item">
          <button data-select-item>All</button>
        </li>
        <% categories.forEach(function(category) { %>
        <li class="select-item">
          <button data-select-item><%= category %></button>
        </li>
        <% }); %>
      </ul>
    </div>
    
    <%# List of projects %>
    <ul class="project-list">
      <%# Loop through each project and display its details. %>
      <% projects.forEach(function(project) { %>
      <li class="project-item  active" data-filter-item data-category="<%= project.category.toLowerCase() %>">
        <a href="<%= project.link %>">
          <figure class="project-img">
            <div class="project-item-icon-box">
              <ion-icon name="eye-outline"></ion-icon>
            </div>
            <img src="<%= project.image.url %>" alt="finance" loading="lazy">
          </figure>
          <h3 class="project-title"><%= project.title %></h3>
          <p class="project-category"><%= project.category %></p>
        </a>
      </li>
      <% }); %>
    </ul>

  </section>

</article>