<nav class="navbar">
    <ul class="navbar-list">
        <li class="navbar-item">
            <a href="/profile" class="navbar-link <%= (typeof currentPage !== 'undefined' && currentPage === 'profile') ? 'active' : '' %>">
                <ion-icon name="person-outline"></ion-icon>
                <span>About</span>
            </a>
        </li>
        <li class="navbar-item">
            <a href="/resume" class="navbar-link <%= (typeof currentPage !== 'undefined' && currentPage === 'resume') ? 'active' : '' %>">
                <ion-icon name="document-text-outline"></ion-icon>
                <span>Resume</span>
            </a>
        </li>
        <li class="navbar-item">
            <a href="/portfolio" class="navbar-link <%= (typeof currentPage !== 'undefined' && currentPage === 'portfolio') ? 'active' : '' %>">
                <ion-icon name="images-outline"></ion-icon>
                <span>Portfolio</span>
            </a>
        </li>
        <li class="navbar-item">
            <a href="/blog" class="navbar-link <%= (typeof currentPage !== 'undefined' && currentPage === 'blog') ? 'active' : '' %>">
                <ion-icon name="newspaper-outline"></ion-icon>
                <span>Blog</span>
            </a>
        </li>
        <li class="navbar-item">
            <a href="/contact" class="navbar-link <%= (typeof currentPage !== 'undefined' && currentPage === 'contact') ? 'active' : '' %>">
                <ion-icon name="mail-outline"></ion-icon>
                <span>Contact</span>
            </a>
        </li>
    </ul>
</nav>
