<% layout('layouts/boilerPlate') %>

<article class="contact active" data-page="update-experience">
    <header>
        <h2 class="h2 article-title">Update Experience</h2>
    </header>

    <% if (action === 'add') { %>
    <section class="contact-form">
        <h3 class="h3 form-title">Add New Experience</h3>
        <form action="/updating/experience/add" method="POST" class="form">
            <div class="input-wrapper">
                <input type="text" name="company" class="form-input" placeholder="Company" required>
                <input type="text" name="position" class="form-input" placeholder="Position" required>
            </div>
            <div class="input-wrapper">
                <input type="text" name="location" class="form-input" placeholder="Location">
            </div>
            <div class="input-wrapper">
                <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')" name="startDate" class="form-input" placeholder="Start Date" required>
                <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')" name="endDate" class="form-input" placeholder="End Date">
            </div>
            <textarea name="responsibilities" class="form-input" placeholder="Responsibilities (one per line)" required></textarea>
            <button type="submit" class="form-btn">
                <ion-icon name="add-outline"></ion-icon>
                <span>Add Experience</span>
            </button>
        </form>
    </section>
    <% } else if (action === 'edit') { %>
    <section class="contact-form">
        <h3 class="h3 form-title">Edit Experience</h3>
        <form action="/updating/experience/edit/<%= data._id %>?_method=PUT" method="POST" class="form">
            <div class="input-wrapper">
                <input type="text" name="company" class="form-input" value="<%= data.company %>" required>
                <input type="text" name="position" class="form-input" value="<%= data.position %>" required>
            </div>
            <div class="input-wrapper">
                <input type="text" name="location" class="form-input" value="<%= data.location %>">
            </div>
            <div class="input-wrapper">
                <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')" name="startDate" class="form-input" value="<%= new Date(data.startDate).toISOString().split('T')[0] %>" required>
                <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')" name="endDate" class="form-input" value="<%= data.endDate ? new Date(data.endDate).toISOString().split('T')[0] : '' %>">
            </div>
            <textarea name="responsibilities" class="form-input" placeholder="Responsibilities (one per line)" required><%= (data.responsibilities || []).join('\n') %></textarea>
            <button type="submit" class="form-btn">
                <ion-icon name="checkmark-outline"></ion-icon>
                <span>Update Experience</span>
            </button>
        </form>
    </section>
    <% } else if (action === 'delete') { %>
    <section class="service">
        <h3 class="h3 service-title">Delete Experience</h3>
        <% if (data && data.length > 0) { %>
        <ul class="service-list">
            <% data.forEach(item => { %>
            <li class="service-item">
                <div class="service-content-box">
                    <h4 class="h4 service-item-title"><%= item.position %></h4>
                    <p class="service-item-text"><%= item.company %></p>
                    <p class="service-item-text"><%= item.startDate %> to <%= item.endDate %></p>
                    <div style="display: flex; gap: 1rem; margin-top: 1rem;">
                        <a href="/updating/experience/edit/<%= item._id %>" class="form-btn" style="flex: 1; text-align: center;">
                            <ion-icon name="create-outline"></ion-icon>
                            <span>Edit</span>
                        </a>
                        <form action="/updating/experience/delete/<%= item._id %>" method="POST" style="flex: 1;">
                            <button type="submit" class="form-btn" style="width: 100%;">
                                <ion-icon name="trash-outline"></ion-icon>
                                <span>Delete</span>
                            </button>
                        </form>
                    </div>
                </div>
            </li>
            <% }); %>
        </ul>
        <% } else { %>
        <p>No items found.</p>
        <% } %>
    </section>
    <% } %>
</article>
